*, *::before, *::after
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: $secondary
  color: $text-color
input, button, textarea
  outline: none
  border: none
.button
  background-color: $primary
  cursor: pointer
  color: $light
a
  text-decoration: none
  color: inherit

textarea
  resize: none
.input
  border-radius: 4px
  padding: 18px 23px
  font-size: 12px
  line-height: 15px
  color: $text-color
  position: relative
  &::placeholder
    color: $placeholder

::-webkit-scrollbar
  width: 5px // ширина для вертикального скролла 
  height: 5px // высота для горизонтального скролла
  background-color: $secondary

/* ползунок скроллбара */
::-webkit-scrollbar-thumb
  background-color: $primary
  border-radius: 4px


::-webkit-scrollbar-thumb:hover
  background-color: #253861


.container
  max-width: 1110px
  margin: auto
img 
  max-width: 100%